<div style="margin:0 auto; left:0px; text-align:center;padding:5px 70px 5px 70px">
<% provide(:title, "Logowanie") %>
<%=image_tag("biblioteka.png")%><br/>
<h3>Witamy w aplikacji Biblioteka!</h3>
<h4>Zaloguj się, aby z niej skorzystać.</h4>
</div>
<br/>
<div style="margin:0 auto; text-align:center">
  <div style="text-align:left">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control'%>
      </br>

      <%= f.label :password, "Hasło" %>
      <%= f.password_field :password, class: 'form-control'%>
      </br>

      <%= f.submit "Zaloguj", class: "btn btn-primary btn-block" %>
      </br>
    <% end %>
    </br>
    <div>
	<h5>
    Jesteś pierwszy raz?<br/><br/>
    <%= link_to 'Rejestracja', signup_path, class: "btn btn-primary", style: "color: #ffffff" %>
	</h5>
    </div>
  </div>
</div>

