<!DOCTYPE html>
<html>
<head>
  <title>Biblioteka</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<style>
.btn-str {
  color: #ffffff;
  background-color: #138D75;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border:none;
  }
.btn-xlg: hover {
  color: #ffffff;
  background-color: #1B2631 !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  }  
.btn-xlg {
  font-size: 14px;
  background-color: #5D6D7E;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border:none;
}
.btn-xlg: hover {
  color: #fff;
  background-color: #2E86C1 !important;
  border-radius: 3px;
  }
li {
padding:6px;
}
.animate {
  -webkit-animation: animatezoom 0.7s;
  animation: animatezoom 0.7s;
}
@keyframes animatezoom {
  from {transform: scale(0.4)} 
  to {transform: scale(1)}
}
</style>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse" style="background-color: #2E4053; padding:10px 0px 10px 0px">
    <div class="container">
      <nav>
        <% if logged_in? %>
        <ul class="nav navbar-nav navbar-left">
		<li style="margin-right:10px;"><%=image_tag("biblioteka_books.png")%></li>
          <li style="float: left">
            <%= link_to "Strona główna", home_path, class: "btn btn-str" style="color: #ffffff;background-color: #138D75;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;border:none;"%>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "Wyszukiwanie książek", new_search_path, class: "btn btn-xlg"%>
          </li>
          <li >
            <%= link_to "Wszystkie książki", books_path, class: "btn btn-xlg"%>
          </li>
          <li>
            <%= link_to "Historia rezerwacji", check_user_history_path(:data => {:user_id => @current_user.id, :book_id => nil}), class: "btn btn-xlg"%>
          </li>
		   <li style="float: left">
            <li style="margin:16px 5px 16px 36px;color: #ffffff;font-size: 14px"> Witaj, <%=@current_user.name %>! </li>
          </li>
		  <li style="margin-right:4px;"><%=image_tag("avatar.png")%></li>
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #ffffff">
              <b class="caret" style="border-top:9px solid #ffffff"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Pokaż profil", user_path(@current_user.id) %></li>
              <li><%= link_to "Edytuj profil", edit_user_path(@current_user.id) %></li>
              <% if @current_user.is_admin %>
              <li><%= link_to "Zarządzanie użytkownikami", users_path%></li>
              <li><%= link_to "Zarządzanie książkami", books_path%></li>
              <% end %>
              <li><%= link_to "Edytuj profil", edit_user_path(@current_user.id) %></li>
              <li class="divider"></li>
              <li><%= link_to '<i class="glyphicon glyphicon-off"></i> Wyloguj'.html_safe, logout_path, method: :delete, :style => "float: left" %></li>
            </ul>
          </li>
        </ul>
      <% end %>
      </nav>
    </div>
  </header>
  <br/><br/>
  <% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <div class="container animate" style="width: max-content; background-color: white; margin: auto; padding:20px 15px 20px 15px;background-color: rgb(255,255,255); background-color: rgba(255,255,255,0.85); border-radius: 8px">
    <%= yield %>
  </div>
  <br/>
  <br/>

</body>
</html>
