<!DOCTYPE html>
<html>
<head>
  <title>Biblioteka</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse" style="background-color: #2E4053; padding:10px 0px 10px 0px">
    <div class="container">
      <nav>
        <% if logged_in? %>
        <ul class="nav navbar-nav navbar-left">
		<li><img style="margin-right:10px;height:52px;" src="/app/assets/images/biblioteka_books.png"/></li>
          <li style="float: left">
            <%= link_to "Strona główna", home_path, class: "btn btn-primary", style: 'color: #fff'%>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li >
            <%= link_to "Wyszukiwanie książek", new_search_path, class: "btn btn-xlg btn-success" , style: "color: #fff"%>
          </li>
          <li >
            <%= link_to "Wszystkie książki", books_path, class: "btn btn-xlg btn-primary", style: "color: #fff"%>
          </li>
          <li >
            <%= link_to "Historia rezerwacji", check_user_history_path(:data => {:user_id => @current_user.id, :book_id => nil}), class: "btn btn-xlg btn-warning", style: "color: #fff"%>
          </li>
		   <li style="float: left">
            <li style="color: #ffffff; font-size: 14px"> Witaj, <%=@current_user.name %>! </li>
          </li>
		  <li><img style="height:50px;" src="/app/assets/images/avatar.png"/></li>
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #ffffff">
              <b class="caret" style="border-top:9px solid #ffffff"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Pokaż profil", user_path(@current_user.id) %></li>
              <li><%= link_to "Edytuj profil", edit_user_path(@current_user.id) %></li>
              <% if @current_user.is_admin %>
              <li><%= link_to "Zarządzanie użytkownikami", users_path%></li>
              <li><%= link_to "Zarządzanie książkami", books_path%></li>
              <% end %>
              <li><%= link_to "Edytuj profil", edit_user_path(@current_user.id) %></li>
              <li class="divider"></li>
              <li><%= link_to '<i class="glyphicon glyphicon-off"></i> Wyloguj'.html_safe, logout_path, method: :delete, :style => "float: left" %></li>
            </ul>
          </li>
        </ul>
      <% end %>
      </nav>
    </div>
  </header>
  <br/><br/>
  <% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <div class="container" style="width: max-content; background-color: white; margin: auto; padding:20px 15px 20px 15px; background-color: rgb(255,255,255); background-color: rgba(255,255,255,0.85); border-radius: 8px">
  <img style="height:100px" src="/app/assets/images/biblioteka.png"/>
    <%= yield %>
  </div>
  <br/>
  <br/>

</body>
</html>
